<h1>Burger Status!</h1>
<p>Add your favorite burger using the form.<br> When you've devored it, click on the button to move it to the <strong>
        'Burgers
        have been devored' </strong>list! </p>
<hr>

<div class="rows">
    <h4>Burgers that have not been devoured:</h4>
    <h4>Burgers that have been devoured:</h4>
</div>

<div class="rows">
    <ul>
        {{#each burger}}
        {{#unless devoured}}
        <!--for each burger in the object list out the name -->
        <li>{{burger_name}}</li>
        <button class="change-state" data-id="{{id}}">Devour </button>
        {{/unless}}
        {{/each}}

    </ul>

    <ul>
        {{#each burger}}
        {{#if devoured}}
        <!--for each burger in the object list out the name -->
        <li>{{burger_name}}</li>
        {{/if}}
        {{/each}}
    </ul>

</div>

<hr>

<div class="formHolder">
    <img id="burger-photo" src="/assets/img/burger.png" alt"burger">

    <form class="create-form">
        <div class="form-group">
            <label for="b">Burger Name:</label>
            <input type="text" id="b" name="name">
        </div>
        <div class="form-only">
            <button type="submit" class="formHolder">Add Burger</button>
        </div>
    </form>

</div>