body { 
    background: lightsalmon;
    
}

.rows {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center
}

.form-group {
    margin-bottom: 5px;
    display:flex;
    flex-direction: center 
  }

.create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }

li {
    padding: 5px;
    margin: 5px;
  }

.formHolder{
    display:flex;
    justify-content: center
}

#burger-photo{
    /* display:flex; */
    height: 50px;
    /* position: relative;
    left: 480px; */
}

.form-only{
    display:flex;
    justify-content:center
}